@import "assets/scss/utils";

#root {
  @extend %flex-column-center;
  height: 100vh;
}

br {
  display: none;
}

p {
  margin: 0;
}

.App {
  @extend %flex-column-center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  font-size: rem(12);

  &-List {
    list-style: none;
    text-align: left;
  }

  &-Code {
    display: inline-block;
    color: indigo;
    background-color: lighten(lightskyblue, 22%);
  }

  &-Main {
    @extend %flex-column-center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
  }
}
